*{
  margin: 0;
  box-sizing: border-box;
}

:root {
  --violet-color:hsl(257, 45%, 62%);
  --white-color:hsl(0, 0%, 100%);
  --title-color:hsl(262, 100%, 23%);
  --green-title:hsl(157, 100%, 51%);
  --red-title:hsl(0, 78%, 55%);
  --yellow-title:hsl(48, 100%, 71%);
  --blue-color:hsl(180, 100%, 80%);
  --rose-color:hsl(330, 100%, 71%);
  --green-button:hsl(120, 88%, 60%);
  --rose-hover:hsl(300, 100%, 50%);

  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  background-color: var(--violet-color);
  color: var(--white-color);
  margin: 30px 0px ;
}

h1{
  font-size: 6rem;
  font-weight: 300;
}

h2{
  color: var(--title-color);
  font-size: 4rem;
}

h3{
  font-size: 2.2rem;
  font-style: italic;
}

p{
  font-size: 2rem;
  line-height: 150%;
}

img{
  width: 100%;
}

.titulo-verde{
  color: var(--green-title)
}

.titulo-vermelho{
  color: var(--red-title)
}

.titulo-amarelo{
  color: var(--yellow-title)
}

section{
  width: 60%;
  margin: 0 auto;
}

section section{
  width:100%;
}

ul{
  list-style-type:none;
  line-height:2;
  padding-left: 0px;
}

a{
  text-decoration:none;
  color: var(--blue-color);
  font-weight:700;
}

.principal{
  background-color: var(--rose-color);
  height: 4rem;
  max-width: 60%;
  margin:0 auto;
}

.principal a {
  color:var(--white-color);
  text-decoration:none; 
  font-weight: normal;
  
}
.principal li{
  display: inline-block;
  line-height: 2.5;
  margin: 0 6.9rem;
  
}

button{
  background-color: var(--green-button);
  border:1px solid transparent;
  padding:2px 20px;
  border-radius:3px;
}

a:hover {
  color: var(--rose-hover);
}
